name: Android CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.event.head_commit.message, '[skip]') }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Retrieve version
        run: |
          echo VERSION=${{ github.repository_owner }}_$(echo ${{ github.event.head_commit.id }} | head -c 7) >> $GITHUB_ENV
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            !~/.gradle/caches/build-cache-*
          key: gradle-deps-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: gradle-deps
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/build-cache-*
          key: gradle-builds-${{ github.sha }}
          restore-keys: gradle-builds
      - name: Build with Gradle
        run: |
          echo 'org.gradle.caching=true' >> gradle.properties
          echo 'org.gradle.parallel=true' >> gradle.properties
          echo 'org.gradle.vfs.watch=true' >> gradle.properties
          echo 'org.gradle.jvmargs=-Xmx2048m' >> gradle.properties
          bash ./gradlew -PappVerName=${{ env.VERSION }} assembleRelease
      - name: Upload built apk
        if: success()
        uses: actions/upload-artifact@v2
        with:
          name: snapshot
          path: ${{ github.workspace }}/app/build/outputs/apk/release/BiliRoaming_${{ env.VERSION }}.apk
      - name: Post to channel
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/master' && ${{ !startsWith(github.event.head_commit.message, '[debug]') }}
        env:
          CHANNEL_ID: ${{ secrets.TELEGRAM_TO }}
          BOT_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          not_host: ${{ secrets.NOTICEHOST }}
          not_key: ${{ secrets.NOTICEKEY }}
          not_sign: ${{ secrets.NOTICESIGN }}
          FILE: ${{ github.workspace }}/app/build/outputs/apk/release/BiliRoaming_${{ env.VERSION }}.apk
          COMMIT_MESSAGE: |+
            New push\!
            ${{ env.VERSION }}
            ```
            ${{ github.event.head_commit.message }}
            ```by `${{ github.event.head_commit.author.name }}`
            Snapshot apk download [link](https://github.com/issueser/BiliRoaming/actions/runs/${{ github.run_id }})
            See commit detail [here](${{ github.event.head_commit.url }})
            Snapshot apk is attached \(unsupported by TAICHI\)
        run: |
          ESCAPED=`python3 -c 'import json,os,urllib.parse; print(urllib.parse.quote(json.dumps(os.environ["COMMIT_MESSAGE"])))'`
          curl -v "https://api.telegram.org/bot${BOT_TOKEN}/sendMediaGroup?chat_id=${CHANNEL_ID}&media=%5B%7B%22type%22:%22document%22,%20%22media%22:%22attach://release%22,%22parse_mode%22:%22MarkdownV2%22,%22caption%22:${ESCAPED}%7D%5D"  -F release="@$FILE"
          curl -v "https://${not_host}/api/notice?context=BiliRoaming_${{ env.VERSION }}&key=${not_key}&sign=${not_sign}"
